<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD42NGw2sWaffYX6yDDA7Kca4Z6tUdUZiU</string>
	<key>GCM_SENDER_ID</key>
	<string>948279975929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igormax.dev.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>messengerapp-dd9a6</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerapp-dd9a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948279975929:ios:edd6838d1af227438a2728</string>
</dict>
</plist>